body {
    font-family: 'Arial', sans-serif;
    text-align: center;
}

#buttons {
    margin-top: 20px;
}

.btn, .stop {
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.btn {
    background-color: #4CAF50;
    color: white;
    border: none;
}

.stop {
    background-color: #f44336;
    color: white;
    border: none;
}
